In [6]:
classmates = {'Thoa': 'Pho noodle', 'Maia': 'Bun', 'Patrick': 'Sushi', 'Christiaan': 'Broccoli', 'Gary': 'Pancakes'}
classmates

{'Thoa': 'Pho noodle',
 'Maia': 'Bun',
 'Patrick': 'Sushi',
 'Christiaan': 'Broccoli',
 'Gary': 'Pancakes'}

In [10]:
for i in classmates:
    print(i)

Thoa
Maia
Patrick
Christiaan
Gary

In [12]:
for n in classmates:
    print(classmates[n])

Pho noodle
Bun
Sushi
Broccoli
Pancakes

In [19]:
classmates_3 = [{'name':'Chistiaan','birth_month': 'January', 'birth_country':'USA'},{'name': 'Maia', 'birth_month': 'June', 'birth_country': 'Vietnam'},{'name': 'Patrick', 'birth_month': 'August', 'birth_country': 'USA'}]
classmates_3

[{'name': 'Chistiaan', 'birth_month': 'January', 'birth_country': 'USA'},
 {'name': 'Maia', 'birth_month': 'June', 'birth_country': 'Vietnam'},
 {'name': 'Patrick', 'birth_month': 'August', 'birth_country': 'USA'}]

In [20]:
print(classmates_3[1]['birth_month'])

June

In [34]:
birth_months = []
for person_dict in classmates_3:
    birth_months.append(person_dict['name'].title() + ' is from, ' + person_dict['birth_country'])
print(birth_months)

['Chistiaan is from, USA', 'Maia is from, Vietnam', 'Patrick is from, USA']

In [57]:
person_infos = []

for person_info in classmates_3:
    person_infos.append(tuple(person_info.values()))
person_infos

[('Chistiaan', 'January', 'USA'),
 ('Maia', 'June', 'Vietnam'),
 ('Patrick', 'August', 'USA')]